/* stylelint-disable-next-line block-no-empty */
.article {
  article {
    padding: 5rem 2rem;
    font-size: 2rem;
    //
    //h1 {
    //  margin-top: 5rem;
    //  width: fit-content;
    //  font-family: $fontSecondary;
    //  margin-bottom: 2rem;
    //  line-height: 1em;
    //
    //  &:after {
    //    content: '';
    //    height: 0.5rem;
    //    margin-top: 1.5rem;
    //    background: var(--color-primary);
    //    width: 40%;
    //    min-width: 2rem;
    //    display: block;
    //  }
    //}
    //
    //h2 {
    //  margin-bottom: 1rem;
    //  margin-top: 3rem;
    //}
    //
    //p {
    //  margin-bottom: 2rem;
    //  color: lighten($colorDark, 30);
    //
    //  @media (prefers-color-scheme: dark) {
    //    color: darken($colorLight, 30);
    //  }
    //}
    //
    //blockquote {
    //  position: relative;
    //  font-family: $fontSecondary;
    //  font-size: 3rem;
    //  font-style: italic;
    //
    //  &:before {
    //    content: '“';
    //    pointer-events: none;
    //    position: absolute;
    //    top: -6rem;
    //    left: -6rem;
    //    font-size: 25.6rem;
    //    opacity: 0.1;
    //  }
    //}
    //
    //figure {
    //  margin: 2rem -2rem;
    //
    //  img {
    //    box-shadow: 5rem 5rem 20rem rgba(black, 0.15), 0 0 10rem rgba(black, 0.15);
    //    width: 100%;
    //  }
    //
    //  figcaption {
    //    opacity: 0.75;
    //    margin: 1rem 2rem;
    //    text-align: center;
    //    font-style: italic;
    //  }
    //}
    //
    //a {
    //  text-decoration: none;
    //  color: var(--color-primary);
    //  transition: 0.2s ease-out;
    //
    //  &:hover {
    //    opacity: 0.75;
    //  }
    //}
    //
    //ul {
    //  padding-left: 4rem;
    //  color: lighten($colorDark, 30);
    //  position: relative;
    //
    //  @media (prefers-color-scheme: dark) {
    //    color: darken($colorLight, 30);
    //  }
    //
    //  li {
    //    margin-bottom: 2rem;
    //    list-style: none;
    //
    //    &:before {
    //      content: '|';
    //      transform: rotate(45deg);
    //      left: 1rem;
    //      position: absolute;
    //      color: var(--color-primary);
    //    }
    //  }
    //}
  }

  @include respond-to(LARGE) {
    article {
      padding: 5rem 4rem;

      figure {
        margin: 2rem -4rem;
      }
    }
  }

  @include respond-to(XLARGE) {
    grid-template-columns: auto 45rem 70rem 30rem 45rem auto;
    width: 100%;
    display: grid;

    .hero {
      min-height: 80rem;
      grid-column: 2 / 7;
    }

    .article-statistics {
      grid-column: 2 / 4;
      position: relative;
      top: -50%;
      z-index: 100;
    }

    article {
      grid-column: 3 / 5;
      font-size: 2.5rem;
      padding: 0;
      margin-bottom: 10rem;

      figure {
        margin: 10rem -16rem;
      }
    }
  }
}
