/* stylelint-disable-next-line block-no-empty */
.paragraph {
  margin: 2rem 0 1rem;

  &.introduction {
    p::first-letter {
      color: var(--color-primary);
      float: left;
      font-family: $fontSecondary;
      font-size: 7rem;
      line-height: 6rem;
      padding-right: 0.25rem;
    }
  }
}
