@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700&display=swap');

:root {
  --color-bg: $colorLight;
  --color-text: $colorDark;
  --color-primary: $colorPrimary;
  --column-width: $columnWidthSmall;
  --gutter-width: $columnGutterSmall;
  --column-amount: $columnAmountSmall;
}

html {
  font-size: 8px;
  box-sizing: border-box;
  font-family: $fontPrimary;
  background: var(--color-bg);
  color: var(--color-text);
}

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

@include respond-to(MEDIUM) {
  --column-width: $columnWidthLarge;
  --gutter-width: $columnGutterLarge;
  --column-amount: $columnAmountLarge;
}
