/* stylelint-disable-next-line block-no-empty */
.play-button {
  border: none;
  padding: 0;
  margin: 0;
  width: 11rem;
  height: 11rem;
  background: none;
  color: $colorLight;
  filter: drop-shadow(0 0 2rem #000);

  span {
    width: inherit;
  }
}
