/* stylelint-disable-next-line block-no-empty */
.heading {
  margin: 1.5em 0 0.5em;

  &.h1 {
    font-size: 5rem;
    font-family: $fontSecondary;
    line-height: 1em;
    color: var(--color-primary);
    width: fit-content;
    text-shadow: 0 0.25rem 5rem rgba($colorPrimary, 0.25);

    &.large {
      font-size: 8rem;
    }
  }

  &.h2 {
    font-size: 4rem;
    font-family: $fontSecondary;
  }

  &.h3 {
    font-size: 3rem;
    font-family: $fontSecondary;
  }
}
