/* stylelint-disable-next-line block-no-empty */
.video-player {
  margin: 10rem -10rem 5rem;
  height: 70rem;

  .player {
    height: 100%;
    box-shadow:
      0 1rem 1rem rgba($colorDark, 0.15),
      0 1rem 1rem rgba($colorDark, 0.15),
      2.5rem 2.5rem 0 var(--color-primary),
      5rem 5rem 20rem rgba($colorPrimary, 0.5);
  }
}
