/* stylelint-disable-next-line block-no-empty */
.introduction-block {
  overflow-x: hidden;
  margin: 10rem 0 0;

  main {
    margin: 0 2rem;
    font-size: 2rem;

    .heading {
      line-height: 1;
    }

    p {
      font-size: 1em;
      margin: 3rem 0;
      opacity: .75;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin: 10rem 0 0;
    justify-content: space-between;
    padding-left: 4rem;

    main {
      margin: 0 4rem 0 0;
      max-width: 80ch;
      padding-bottom: 10rem;
    }

    aside {
      width: fit-content;
      max-width: 50%;

      .image {
        max-height: 80rem;
      }
    }
  }
}
