// Fonts
$fontPrimary: 'Montserrat', sans-serif;

// Z Index
$zLayout: default;

// Sizes
$columnWidthSmall: 9rem;
$columnGutterSmall: 1rem;
$columnAmountSmall: 4;

$columnWidthLarge: 11rem;
$columnGutterLarge: 2rem;
$columnAmountLarge: 12;

// Colors
$colorPrimary: #FF3B00;
$colorDark: #000;
$colorLight: #fff;

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
